.privacypolicy {
    h2 {
        font-size: 2rem;
        line-height: 1.8;
    }
    p {
        line-height: 1.5;
        padding: 10px 0;
    }
    h3 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.6rem;
    }
    ul {
        list-style: circle;
        padding-left: 20px;
        line-height: 1.8;
    }
}