<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    {{- partial "seo.html" . }}
    <!-- CSS Processing -->
    {{ if .Site.IsServer }}
    {{ $styles := resources.Get "scss/import.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />
    {{ else }}
    {{ $styles := resources.Get "scss/import.scss" | resources.ToCSS (dict "outputStyle" "compressed") | postCSS | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />
    {{ end}}
    
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    {{- partial "gtm-head.html" . }}
</head>
<body>
    {{- partial "nav.html" . }}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . }}
    {{- partial "script.html" . }}
    {{- partial "gtm-body.html" . }}
</body>
</html>