{{ define "main" }}
<header class="hero is-fullheight">

  <div class="hero-body">

    <div class="container">
  
          <div class="is-flex is-column is-justified-center is-aligned-center py-5">
            
              <img src="{{ $.Site.Params.imagekit_base_url }}tr:w-550/{{ $.Site.Params.schema.logo }}" sizes="100vw"  alt="{{ .Site.Params.name }} logo" data-aos="fade-up" data-aos-duration="800">
     
            <p class="subtitle has-text-centered my-2 has-text-capitalized" data-aos="fade" data-aos-duration="800" data-aos-delay="500">
              {{ .Params.hero1 | safeHTML }} {{ .Params.hero2 | safeHTML }}
            </p>

          <div class="">

            <img
            src="{{ $.Site.Params.imagekit_base_url }}tr:w-700,/{{ .Params.hero_img }}"
            sizes="100vw"
            data-srcset="
            {{ $.Site.Params.imagekit_base_url }}tr:w-700,/{{ .Params.hero_img }} 400w,
            {{ $.Site.Params.imagekit_base_url }}tr:w-700,/{{ .Params.hero_img }} 768w,
            {{ $.Site.Params.imagekit_base_url }}tr:w-700,/{{ .Params.hero_img }} 800w"
            data-src="{{ $.Site.Params.imagekit_base_url }}tr:w-700,/{{ .Params.hero_img }} 768w"
            class="lazyload"
            style="max-width:700px;"
            data-aos="fade" data-aos-duration="800" data-aos-delay="1000"
            alt="{{ .Site.Params.name }}"
            />
          </div>
          <div class="hero__cta--mobile" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1500">
            <a href="tel:{{ .Site.Params.schema.phone }}" class="button is-primary is-large">Call Now To Order</a>
          </div>
          <div class="hero__cta--desktop" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1500">
            <a href="#menu" class="button is-primary is-large">Explore Our Menu</a>
          </div>
          </div>
   


    </div>

</header>

<section id="section1" class="display-none section mt-5 has-background-white has-text-dark has-text-weight-bold">
  <div class="container">
    <div class="is-flex is-column is-justified-center is-aligned-center">
      <h2 class="is-size-2 has-text-uppercase has-text-centered has-text-weight-bold">{{ .Params.heading1 }}</h2>

      <h3 class="is-size-3 has-text-weight-bold mt-1 has-text-centered-touch">Residential & Commercial</h3>
    </div>
  </div>
</section>

<section id="section3" class="section is-small mb-5">

  <div class="container">
    <h2 class="is-size-2 has-text-uppercase has-text-centered mb-5 pb-5 has-text-weight-bold">{{ .Params.heading2 }}
    </h2>
    <div class="columns">
      <div class="column is-5">

        <img
        src="{{ $.Site.Params.imagekit_base_url }}tr:ar-3-4,w-500,bl-30,q-50,/{{ .Params.hero_img }}"
        sizes="100vw"
        data-srcset="
        {{ $.Site.Params.imagekit_base_url }}tr:ar-3-4,w-350,/WestCoastSaltyBuns__food--3_aKeKXqxg18.jpg 400w,
        {{ $.Site.Params.imagekit_base_url }}tr:ar-3-4,w-500,/WestCoastSaltyBuns__food--3_aKeKXqxg18.jpg 768w,
        {{ $.Site.Params.imagekit_base_url }}tr:ar-3-4,w-800,/WestCoastSaltyBuns__food--3_aKeKXqxg18.jpg 800w"
        data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-3-4,w-350,/WestCoastSaltyBuns__food--3_aKeKXqxg18.jpg 768w"
        class="lazyload has-shadow"
        width="100%";
        data-aos="fade" data-aos-duration="800"
        alt="{{ .Site.Params.name }}"
        />
        </div>
      <div class="column is-7">
        <p class="has-text-centered-touch">{{ .Params.heading2_sub | safeHTML }}</p>
      </div>
    </div>
  </div>
</section>





<section id="section6" class="has-text-white testimonials section is-medium has-background-primary">
  <div class="overlay">
  <div class="container">
    <h2 class="has-text-centered is-size-2 has-text-uppercase has-text-white has-text-weight-bold">Testimonials</h2>

    <div class="columns is-5 is-5 mt-5">
      <div class="column" data-aos="fade-up" data-aos-duration="800">
        <div class="testimonial testimonial_1">
          <h2 class="testimonial__name is-size-4 has-text-weight-bold pb-4">{{ .Params.testimonial1__name }}</h2>
            {{- partial "stars.html" .}}
          <p class="block testimonial__text">{{ .Params.testimonial1 }}</p>
        </div>
      </div>
      <div class="column" data-aos="fade-up" data-aos-duration="800">
        <div class="testimonial testimonial_2">
          <h2 class="testimonial__name is-size-4 has-text-weight-bold pb-4">{{ .Params.testimonial2__name }}</h2>
          {{- partial "stars.html" .}}
        <p class="block testimonial__text">{{ .Params.testimonial2 }}</p>
        </div>
      </div>

    </div>

    <div class="columns is-5">
      <div class="column" data-aos="fade-up" data-aos-duration="800">
        <div class="testimonial testimonial_4">
          <h2 class="testimonial__name is-size-4 has-text-weight-bold pb-4">{{ .Params.testimonial4__name }}</h2>
            {{- partial "stars.html" .}}
          <p class="block testimonial__text">{{ .Params.testimonial4 }}</p>
        </div>
      </div>
      <div class="column" data-aos="fade-up" data-aos-duration="800">
        <div class="testimonial testimonial_2">
          <h2 class="testimonial__name is-size-4 has-text-weight-bold pb-4">{{ .Params.testimonial5__name }}</h2>
          {{- partial "stars.html" .}}
        <p class="block testimonial__text">{{ .Params.testimonial5 }}</p>
        </div>
      </div>

      </div>
    </div>
  </div>
  </div>
</section>

<section id="menu" class="section section is-medium">
<div class="container">
  <h2 class="is-size-2 has-text-centered mb-5 pb-5 has-text-weight-bold has-text-uppercase">Menu</h2>

  <h3 class="is-size-3">Bites</h3>
  <div class="divider"></div>
  {{ range $.Site.Data.bites }}
  {{ partial "menu.html" . }}
  {{ end }}

  <h3 class="is-size-3 mt-5">Bacos</h3>
  <p class="is-size-4 has-text-black">Steam buns - 2 per order</p>
  <div class="divider"></div>
  {{ range $.Site.Data.bacos }}
  {{ partial "menu.html" . }}
  {{ end }}
  
  <h3 class="is-size-3  mt-5">Burritos</h3>
  <div class="divider"></div>
  {{ range $.Site.Data.burritos }}
  {{ partial "menu.html" . }}
  {{ end }}

  <h3 class="is-size-3  mt-5">Bowls</h3>
  <div class="divider"></div>
  {{ range $.Site.Data.bowls }}
  {{ partial "menu.html" . }}
  {{ end }}

  <p class="is-size-4 has-text-weight-bold has-text-dark">Additions</p>
<p>avocado $2 / prawns $6 / smoked chicken $6 / smoked pork $5 / albacore tuna $7</p>
</div>
</section>

<section id="section4">
  <div class="gallery" id="photo">
    <figure class="gallery__item gallery__item--1">

      <img
      src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/C047589F-599B-49EF-84DE-E0F6F20EC587_GZa4-qVGz.JPG"
      sizes="100vw"
      data-srcset="
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/C047589F-599B-49EF-84DE-E0F6F20EC587_GZa4-qVGz.JPG 400w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/C047589F-599B-49EF-84DE-E0F6F20EC587_GZa4-qVGz.JPG 768w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/C047589F-599B-49EF-84DE-E0F6F20EC587_GZa4-qVGz.JPG 1024w"
      data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/C047589F-599B-49EF-84DE-E0F6F20EC587_GZa4-qVGz.JPG 768w"
      class="lazyload gallery__img" />

      </figure>

    <figure class="gallery__item gallery__item--2">

      <img
      src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/WestCoastSaltyBuns__food--8_0gvC_zSHFV.jpg"
      sizes="100vw"
      data-srcset="
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/WestCoastSaltyBuns__food--8_0gvC_zSHFV.jpg 400w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--8_0gvC_zSHFV.jpg 768w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/WestCoastSaltyBuns__food--8_0gvC_zSHFV.jpg 1024w"
      data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--8_0gvC_zSHFV.jpg 768w"
      class="lazyload gallery__img" />

    </figure>
    <figure class="gallery__item gallery__item--3">

      <img
      src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/WestCoastSaltyBuns__food--1_FuX-spLpSK.jpg"
      sizes="100vw"
      data-srcset="
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/WestCoastSaltyBuns__food--1_FuX-spLpSK.jpg 400w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--1_FuX-spLpSK.jpg 768w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/WestCoastSaltyBuns__food--1_FuX-spLpSK.jpg 1024w"
      data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--1_FuX-spLpSK.jpg 768w"
      class="lazyload gallery__img" />

    </figure>
    <figure class="gallery__item gallery__item--4">

      <img
      src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/WestCoastSaltyBuns__food--5_pLkKjSib0R.jpg"
      sizes="100vw"
      data-srcset="
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/WestCoastSaltyBuns__food--5_pLkKjSib0R.jpg 400w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--5_pLkKjSib0R.jpg 768w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/WestCoastSaltyBuns__food--5_pLkKjSib0R.jpg 1024w"
      data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--5_pLkKjSib0R.jpg 768w"
      class="lazyload gallery__img" />
      
    </figure>

<!-- New -->
<figure class="gallery__item gallery__item--1">

  <img
  src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/IMG_1865_avUUpxpbce.jpg"
  sizes="100vw"
  data-srcset="
  {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/IMG_1865_avUUpxpbce.jpg 400w,
  {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/IMG_1865_avUUpxpbce.jpg 768w,
  {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/IMG_1865_avUUpxpbce.jpg 1024w"
  data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/IMG_1865_avUUpxpbce.jpg 768w"
  class="lazyload gallery__img" />

  </figure>

  <figure class="gallery__item gallery__item--3">

    <img
    src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/IMG_1860__1__SGJI8ABI19.jpg"
    sizes="100vw"
    data-srcset="
    {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/IMG_1860__1__SGJI8ABI19.jpg 400w,
    {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/IMG_1860__1__SGJI8ABI19.jpg 768w,
    {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/IMG_1860__1__SGJI8ABI19.jpg 1024w"
    data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/IMG_1860__1__SGJI8ABI19.jpg 768w"
    class="lazyload gallery__img" />
  
  </figure>

<figure class="gallery__item gallery__item--2">

  <img
  src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/IMG_1862_eeJuBlRpWj.jpg"
  sizes="100vw"
  data-srcset="
  {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/IMG_1862_eeJuBlRpWj.jpg 400w,
  {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/IMG_1862_eeJuBlRpWj.jpg 768w,
  {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/IMG_1862_eeJuBlRpWj.jpg 1024w"
  data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/IMG_1862_eeJuBlRpWj.jpg 768w"
  class="lazyload gallery__img" />

</figure>

<figure class="gallery__item gallery__item--4">

  <img
  src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/IMG_1806_rGxqF8JfM.jpg"
  sizes="100vw"
  data-srcset="
  {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/IMG_1806_rGxqF8JfM.jpg 400w,
  {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/IMG_1806_rGxqF8JfM.jpg 768w,
  {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/IMG_1806_rGxqF8JfM.jpg 1024w"
  data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/IMG_1806_rGxqF8JfM.jpg 768w"
  class="lazyload gallery__img" />
  
</figure>
<!-- Stay HEre-->
    <figure class="gallery__item gallery__item--5">

      <img
      src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/254C985A-9F7B-4BFB-9752-6EFD9447FDA3_HPQJ36G7l.JPG"
      sizes="100vw"
      data-srcset="
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/254C985A-9F7B-4BFB-9752-6EFD9447FDA3_HPQJ36G7l.JPG 400w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/254C985A-9F7B-4BFB-9752-6EFD9447FDA3_HPQJ36G7l.JPG 768w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/254C985A-9F7B-4BFB-9752-6EFD9447FDA3_HPQJ36G7l.JPG 1024w"
      data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/254C985A-9F7B-4BFB-9752-6EFD9447FDA3_HPQJ36G7l.JPG 768w"
      class="lazyload gallery__img" />

      </figure>
    <figure class="gallery__item gallery__item--6">

      <img
      src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50/WestCoastSaltyBuns__food--6_CYuJWHosh.jpg"
      sizes="100vw"
      data-srcset="
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/WestCoastSaltyBuns__food--6_CYuJWHosh.jpg 400w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--6_CYuJWHosh.jpg 768w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/WestCoastSaltyBuns__food--6_CYuJWHosh.jpg 1024w"
      data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--6_CYuJWHosh.jpg 768w"
      class="lazyload gallery__img" />

      </figure>
    <figure class="gallery__item gallery__item--7">

      <img
      src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/WestCoastSaltyBuns__food--7_1zBORLboE.jpg"
      sizes="100vw"
      data-srcset="
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/WestCoastSaltyBuns__food--7_1zBORLboE.jpg 400w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--7_1zBORLboE.jpg 768w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/WestCoastSaltyBuns__food--7_1zBORLboE.jpg 1024w"
      data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--7_1zBORLboE.jpg 768w"
      class="lazyload gallery__img" />

      </figure>
    <figure class="gallery__item gallery__item--8">

      <img
      src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,bl-30,q-50,/WestCoastSaltyBuns__food--2_KtoTDO36fP.jpg"
      sizes="100vw"
      data-srcset="
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-250,/WestCoastSaltyBuns__food--2_KtoTDO36fP.jpg 400w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--2_KtoTDO36fP.jpg 768w,
      {{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-400,/WestCoastSaltyBuns__food--2_KtoTDO36fP.jpg 1024w"
      data-src="{{ $.Site.Params.imagekit_base_url }}tr:ar-1-1,w-350,/WestCoastSaltyBuns__food--2_KtoTDO36fP.jpg 768w"
      class="lazyload gallery__img" />


       </figure>
  </div>
</section>
<section id="contact" class="section is-medium">
  <div class="container">
    <h2
      class="is-size-2 has-text-weight-bold has-text-uppercase has-text-centered">
      {{ .Params.contact_heading }}
    </h2>
    <p class="has-text-centered py-2 is-size-4 has-text-black">
      {{ .Params.contact_desc | safeHTML }}
    </p>
  </div>
  <div class="column is-half is-offset-one-quarter shadow box_form mt-5 ">
    <form id="contact-form" method="POST" action="{{ .Site.Params.usebasin }}"
      class="has-shadow form has-background-white p-5" role="form">
      <div class="field">
        <label for="form_name" class="label">{{ i18n "firstname" }} *</label>

        <div class="control">
          <input id="form_name" class="input" placeholder="e.g Alex Smith" type="text" name="name" class="form-control"
            required="required" data-error="Firstname is required." />
        </div>
      </div>

      <div class="field">
        <label class="label" for="email">{{ i18n "email" }} *</label>

        <div class="control">
          <input id="email" name="email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com" required="required"
            data-error="Valid email is required." />
        </div>
      </div>

      <div class="field">
        <label class="label" for="phone">{{ i18n "phone" }}</label>

        <div class="control">
          <input id="phone" name="phone" class="input" type="tel" placeholder="e.g. +1-234-567-7890" />
        </div>
      </div>

      <div class="field">
        <label for="form_message"><strong>Message *</strong></label>

        <textarea id="form_message" name="message" class="textarea" rows="4" required
          data-error="Please,leave us a message."></textarea>
      </div>
      <div class="is-flex is-justified-center">
        <input type="submit" class="button is-primary is-large my-5 has-text-centered" value="Drop Us A Line">
      </div>
    </form>
  </div>
</section>

{{ end }}