<div class="is-flex is-row">
  <svg class="testimonial__icon">
    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#star"></use>
  </svg>
  <svg class="testimonial__icon">
    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#star"></use>
  </svg>
  <svg class="testimonial__icon">
    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#star"></use>
  </svg>
  <svg class="testimonial__icon">
    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#star"></use>
  </svg>
  <svg class="testimonial__icon">
    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#star"></use>
  </svg>
</div>
